{% extends "base.html" %}

{% block title %}Todas las Tareas{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <ul class="mb-0">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endwith %}

    <!-- Título de la página -->
    <h1 class="mb-4 text-center text-success">Tareas y comentarios</h1>

    <!-- Tablero Kanban -->
    <table class="table table-bordered kanban-table">
        <thead>
            <tr>
                <th>Por Hacer</th>
                <th>En Progreso</th>
                <th>Completada</th>
            </tr>
        </thead>
        <tbody>
            <tr class="kanban-column">
                <!-- Columna "Por Hacer" -->
                <td class="kanban-list">
                    {% for tarea in tareas %}
                        {% if tarea.estado == "Por iniciar" %}
                            <div class="kanban-task pi mb-3 p-2 border">
                                <strong>Proyecto:</strong> {{ tarea.proyecto_nombre }}<br>
                                <strong>Nombre:</strong> {{ tarea.nombre }}<br>
                                <strong>Descripción:</strong> {{ tarea.descripcion }}<br>
                                <strong>Fecha Vencimiento:</strong> {{ tarea.fechavencimiento }}<br>

                                <!-- Botón para mostrar/ocultar comentarios -->
                                <button class="btn btn-link" data-toggle="collapse" data-target="#comentarios{{ tarea._id }}" aria-expanded="false" aria-controls="comentarios{{ tarea._id }}">
                                    Ver Comentarios
                                </button>

                                <!-- Comentarios -->
                                <div class="collapse" id="comentarios{{ tarea._id }}">
                                    <h6>Comentarios</h6>
                                    <div class="list-group mb-3">
                                        {% if tarea.comentarios and tarea.comentarios|length > 0 %}
                                        {% for comentario in tarea.comentarios %}
                                        <div class="list-group-item">
                                            <strong>{{ comentario.nombre_autor }}:</strong> {{ comentario.texto }}
                                            <small class="text-muted d-block">Publicado el {{ comentario.fecha }}</small>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="list-group-item">Aún no hay comentarios.</div>
                                        {% endif %}
                                    </div>

                                    <!-- Formulario para agregar comentario -->
                                    <form action="{{ url_for('comentar_tarea', proyecto_id=tarea.proyecto_id, tarea_id=tarea._id) }}" method="post">
                                        <div class="form-group">
                                            <label for="contenido">Añadir comentario:</label>
                                            <textarea name="contenido" class="form-control" placeholder="Escribe un comentario" rows="2"></textarea>
                                        </div>
                                        <div class="text-center"> <!-- Centro el botón -->
                                            <button type="submit" class="btn btn-success">Comentar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>

                <!-- Columna "En Progreso" -->
                <td class="kanban-list">
                    {% for tarea in tareas %}
                        {% if tarea.estado == "En progreso" %}
                            <div class="kanban-task ep mb-3 p-2 border">
                                <strong>Proyecto:</strong> {{ tarea.proyecto_nombre }}<br>
                                <strong>Nombre:</strong> {{ tarea.nombre }}<br>
                                <strong>Descripción:</strong> {{ tarea.descripcion }}<br>
                                <strong>Fecha Vencimiento:</strong> {{ tarea.fechavencimiento }}<br>

                                <!-- Botón para mostrar/ocultar comentarios -->
                                <button class="btn btn-link" data-toggle="collapse" data-target="#comentarios{{ tarea._id }}" aria-expanded="false" aria-controls="comentarios{{ tarea._id }}">
                                    Ver Comentarios
                                </button>

                                <!-- Comentarios -->
                                <div class="collapse" id="comentarios{{ tarea._id }}">
                                    <h6>Comentarios</h6>
                                    <div class="list-group mb-3">
                                        {% if tarea.comentarios and tarea.comentarios|length > 0 %}
                                        {% for comentario in tarea.comentarios %}
                                        <div class="list-group-item">
                                            <strong>{{ comentario.nombre_autor }}:</strong> {{ comentario.texto }}
                                            <small class="text-muted d-block">Publicado el {{ comentario.fecha }}</small>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="list-group-item">Aún no hay comentarios.</div>
                                        {% endif %}
                                    </div>

                                    <!-- Formulario para agregar comentario -->
                                    <form action="{{ url_for('comentar_tarea', proyecto_id=tarea.proyecto_id, tarea_id=tarea._id) }}" method="post">
                                        <div class="form-group">
                                            <label for="contenido">Añadir comentario:</label>
                                            <textarea name="contenido" class="form-control" placeholder="Escribe un comentario" rows="2"></textarea>
                                        </div>
                                        <div class="text-center"> <!-- Centro el botón -->
                                            <button type="submit" class="btn btn-success">Comentar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>

                <!-- Columna "Completada" -->
                <td class="kanban-list">
                    {% for tarea in tareas %}
                        {% if tarea.estado == "Completado" %}
                            <div class="kanban-task c mb-3 p-2 border">
                                <strong>Proyecto:</strong> {{ tarea.proyecto_nombre }}<br>
                                <strong>Nombre:</strong> {{ tarea.nombre }}<br>
                                <strong>Descripción:</strong> {{ tarea.descripcion }}<br>
                                <strong>Fecha Vencimiento:</strong> {{ tarea.fechavencimiento }}<br>

                                <!-- Botón para mostrar/ocultar comentarios -->
                                <button class="btn btn-link" data-toggle="collapse" data-target="#comentarios{{ tarea._id }}" aria-expanded="false" aria-controls="comentarios{{ tarea._id }}">
                                    Ver Comentarios
                                </button>

                                <!-- Comentarios -->
                                <div class="collapse" id="comentarios{{ tarea._id }}">
                                    <h6>Comentarios</h6>
                                    <div class="list-group mb-3">
                                        {% if tarea.comentarios and tarea.comentarios|length > 0 %}
                                        {% for comentario in tarea.comentarios %}
                                        <div class="list-group-item">
                                            <strong>{{ comentario.nombre_autor }}:</strong> {{ comentario.texto }}
                                            <small class="text-muted d-block">Publicado el {{ comentario.fecha }}</small>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="list-group-item">Aún no hay comentarios.</div>
                                        {% endif %}
                                    </div>

                                    <!-- Formulario para agregar comentario -->
                                    <form action="{{ url_for('comentar_tarea', proyecto_id=tarea.proyecto_id, tarea_id=tarea._id) }}" method="post">
                                        <div class="form-group">
                                            <label for="contenido">Añadir comentario:</label>
                                            <textarea name="contenido" class="form-control" placeholder="Escribe un comentario" rows="2"></textarea>
                                        </div>
                                        <div class="text-center"> <!-- Centro el botón -->
                                            <button type="submit" class="btn btn-success">Comentar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}