
{% extends "base.html" %}

{% block title %}
Administrar Empresas
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class=" text-success text-center">Administrar Empresas</h1>
    <div class="row">
        <div class="col-md-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-success" role="alert" id="flash-message">
                        {% for message in messages %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead style="background-color: #027333; color: white;">
                        <tr>
                            <th>Nombre de la empresa</th>
                            <th>Correo</th>
                            <th>Encargado</th>
                            <th style="width: 10%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td>
                                    <a href="#" class="nombre-usuario" style="color: black;" onclick="toggleInfo('{{ usuario._id }}'); return false;">
                                        {{ usuario.nombre }}
                                    </a>
                                </td>
                                <td>{{ usuario.correo }}</td>
                                <td>{{ usuario.encargado }}</td>
                                <td>
                                    <!-- Botón para eliminar -->
                                    <button class="btn btn-success" data-url="{{ url_for('eliminar_empresa', id=usuario._id) }}" onclick="confirmarEliminacion(this);">Eliminar</button>
                                </td>
                            </tr>
                            <tr id="info-{{ usuario._id }}" style="display: none;">
                                <td colspan="4" style="padding: 15px; background-color: #f9f9f9;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td style="width: 20%;"><strong>Campo</strong></td>
                                                <td style="width: 80%;">Información</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>NIT:</strong></td>
                                                <td>{{ usuario.nit }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Teléfono:</strong></td>
                                                <td>{{ usuario.telefono }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Dirección:</strong></td>
                                                <td>{{ usuario.direccion }}</td>  
                                            </tr>
                                            <tr>
                                                <td><strong>Ciudad:</strong></td>
                                                <td>{{ usuario.ciudad }}</td>     
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmarEliminacion(element) {
        const url = element.getAttribute('data-url'); // Obtener la URL del atributo data-url
        Swal.fire({
            title: '¿Estás seguro?',
            text: "No podrás revertir esta acción",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url; // Redirigir a la URL proporcionada
            }
        });
    }
</script>
<script>
    function toggleInfo(id) {
        var infoRow = document.getElementById('info-' + id);
        if (infoRow.style.display === 'none') {
            infoRow.style.display = '';
        } else {
            infoRow.style.display = 'none';
        }
    }

</script>

<script>
    setTimeout(function() {
        var flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
            flashMessage.style.display = 'none';  // Oculta el mensaje
        }
    }, 3000);  // Tiempo en milisegundos (3000 ms = 3 segundos)
</script>
{% endblock %}