{% extends "base.html" %}

{% block title %}
Asignar Miembros y Líderes a Proyecto
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center flex-column">
    <h1>Administrar Miembros del Proyecto: {{ proyecto.nombre }}</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" role="alert" id="flash-message">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="row justify-content-center" style="width: 100%;">
        <div class="col-12 col-md-8 mb-4">
            <div class="input-group">
                <input type="text" id="search" class="form-control rounded-pill" placeholder="Filtrar Miembros">
            </div>
        </div>
    </div>

    <div class="row w-100 justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
            
            <div class="card mb-4 w-100">
                <div class="card-body text-center">
                    <h3 class="card-title text-success mb-4">Miembros Asignados:</h3>
                    <form id="formEliminar" method="POST">
                        {% for miembro in proyecto.miembros %}
                            <div class="form-check text-left">
                                <input type="checkbox" class="form-check-input" name="eliminar_miembro" value="{{ miembro._id }}" id="miembro{{ miembro._id }}">
                                <label class="form-check-label" for="miembro{{ miembro._id }}">
                                    {{ miembro.nombre }}
                                    {% if miembro in proyecto.lideres %}
                                        <span class="badge bg-success" style="color: white;">Líder</span>
                                    {% endif %}
                                </label>
                            </div>
                        {% endfor %}
                        <button type="button" id="btnEliminar" class="btn btn-success mt-4" disabled>Eliminar miembros</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card mb-4 w-100">
                <div class="card-body text-center">
                    <h3 class="card-title text-success mb-4">Miembros Disponibles para Agregar:</h3>
                    
                    <form id="formAgregar" method="POST">
                        <div id="miembros-list">
                            {% for usuario in usuarios %}
                                {% if usuario not in proyecto.miembros %}
                                    <div class="form-check mb-2 d-flex justify-content-between align-items-center">
                                        <div>
                                            <input type="checkbox" class="form-check-input agregar-miembro" name="agregar_miembro" value="{{ usuario._id }}" id="usuario{{ usuario._id }}">
                                            <label class="form-check-label" for="usuario{{ usuario._id }}">
                                                {{ usuario.nombre }} {{ usuario.apellido }}
                                            </label>
                                        </div>
                                        <div>
                                            <input type="checkbox" class="form-check-input asignar-lider" name="asignar_lider" value="{{ usuario._id }}" id="lider{{ usuario._id }}" 
                                                {% if proyecto.lideres|length > 0 %} disabled {% endif %}>
                                            <label class="form-check-label" for="lider{{ usuario._id }}">Líder</label>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button type="button" id="btnAgregar" class="btn btn-success mt-4" disabled>Agregar miembros y líderes</button>
                    </form>
                </div>
            </div>
        </div>           
    </div>
</div>

<!-- Modal de confirmación para eliminar miembros -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar los miembros seleccionados?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmDelete">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación para agregar miembros y líderes -->
<div class="modal fade" id="confirmAddModal" tabindex="-1" role="dialog" aria-labelledby="confirmAddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmAddModalLabel">Confirmar Agregar Miembros y Líderes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas agregar los miembros y líderes seleccionados?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmAdd">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript para habilitar/deshabilitar los botones y la confirmación -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxesMiembros = document.querySelectorAll('.agregar-miembro');
        const btnAgregar = document.getElementById('btnAgregar');
        const searchInput = document.getElementById('search');
        const miembrosList = document.getElementById('miembros-list');

        checkboxesMiembros.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const liderCheckbox = this.closest('.form-check').querySelector('.asignar-lider');
                
                // Deshabilitar el checkbox de líder si ya hay un líder
                if (document.querySelectorAll('.asignar-lider:enabled').length === 0) {
                    liderCheckbox.disabled = true;
                } else {
                    liderCheckbox.disabled = !this.checked;
                }
                // Si el miembro se deselecciona, desmarcar también el checkbox de líder
                if (!this.checked) {
                    liderCheckbox.checked = false;
                }               
                toggleButtons();
            });
        });

        const eliminarCheckboxes = document.querySelectorAll('input[name="eliminar_miembro"]');
        eliminarCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', toggleButtons);
        });

        function toggleButtons() {
            const hasSelected = [...eliminarCheckboxes].some(checkbox => checkbox.checked);
            btnEliminar.disabled = !hasSelected;

            const hasAdding = [...checkboxesMiembros].some(checkbox => checkbox.checked);
            btnAgregar.disabled = !hasAdding;
        }

        btnEliminar.addEventListener('click', function() {
            $('#confirmDeleteModal').modal('show');
        });

        document.getElementById('confirmDelete').addEventListener('click', function() {
            document.getElementById('loading').style.display = "flex"; 
            document.getElementById('formEliminar').submit();
        });

        btnAgregar.addEventListener('click', function() {
            $('#confirmAddModal').modal('show');
        });

        document.getElementById('confirmAdd').addEventListener('click', function() {
            // Muestra el div de loading antes de enviar el formulario
            document.getElementById('loading').style.display = "flex"; // Muestra el loading
            document.getElementById('formAgregar').submit(); // Envía el formulario
        });

        // Filtrar miembros disponibles
        searchInput.addEventListener('input', function() {
            const filter = searchInput.value.toLowerCase();
            const checkboxes = document.querySelectorAll('.form-check-label');
            
            checkboxes.forEach(label => {
                const text = label.textContent.toLowerCase();
                const checkbox = label.previousElementSibling;
                
                if (text.includes(filter)) {
                    label.parentElement.style.display = 'flex';
                    checkbox.addEventListener('click', function() {
                        checkbox.checked = true;
                        toggleButtons();
                    });
                } else {
                    label.parentElement.style.display = 'none';
                }
            });
        });
    });
</script>
{% endblock %}
