{% extends "base.html" %}

{% block title %}
Editar Tarea
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Editar Tarea: {{ tarea.nombre }} del Proyecto: {{ proyecto.nombre }}</h2>
    <form id="editTaskForm" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ tarea.nombre }}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" class="form-control" required>{{ tarea.descripcion }}</textarea>
        </div>

        <div class="form-group">
            <label for="fechavencimiento">Fecha de Vencimiento:</label>
            <input type="date" id="fechavencimiento" name="fechavencimiento" value="{{ tarea.fechavencimiento }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="objetivo_especifico">Objetivo Específico:</label>
            <select id="objetivo_especifico" name="objetivo_especifico" class="form-control" required>
                {% for objetivo in objetivos_especificos %}
                    <option value="{{ objetivo.id }}" {% if objetivo.id == tarea.objetivo_especifico_id %}selected{% endif %}>
                        {{ objetivo.descripcion }}
                    </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="miembroasignado">Asignar a:</label>
            <select id="miembroasignado" name="miembro_asignado" class="form-control" required>
                <option value="" {% if tarea.miembro_asignado is none %}selected{% endif %}>Asignar miembro</option>
                {% for miembro in miembros %}
                    <option value="{{ miembro._id }}" {% if miembro._id == tarea.miembro_asignado %}selected{% endif %}>
                        {{ miembro.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>               

        <div class="form-group">
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" class="form-control" required>
                <option value="Por iniciar" {% if tarea.estado == 'Por iniciar' %}selected{% endif %}>Por iniciar</option>
                <option value="En progreso" {% if tarea.estado == 'En progreso' %}selected{% endif %}>En progreso</option>
                <option value="Completado" {% if tarea.estado == 'Completado' %}selected{% endif %}>Completado</option>
            </select>
        </div>

        <button type="button" class="btn btn-primary" onclick="confirmEdit()">Actualizar Tarea</button>
    </form>
    <br>
    <a href="{{ url_for('ver_todas_las_tareas') }}" class="btn btn-secondary">Volver a Tareas</a>
</div>

<!-- Modal de confirmación para editar -->
<div class="modal fade" id="confirmModalEdit" tabindex="-1" role="dialog" aria-labelledby="modalLabelEdit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabelEdit">Confirmar Actualización</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas actualizar esta tarea?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmEditBtn">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmEdit() {
        // Muestra el modal de confirmación
        $('#confirmModalEdit').modal('show');

        // Establece el comportamiento del botón de confirmación en el modal
        document.getElementById('confirmEditBtn').onclick = function() {
            document.getElementById('editTaskForm').submit(); // Envía el formulario
        };
    }
</script>

{% endblock %}
