{% extends "base.html" %}

{% block title %}Editar Usuario{% endblock %}

{% block content %}
<div class="container">
    <form action="{{ url_for('editar_usuario', id=usuario._id) }}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="{{ usuario.nombre }}" required>
        </div>
        
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="email" class="form-control" name="correo" id="correo" value="{{ usuario.correo }}" required>
        </div>
        
        <div class="form-group">
            <label for="role">Rol:</label>
            <select class="form-control" name="role" id="role" required>
                <option value="admin" {% if usuario.role == 'admin' %}selected{% endif %}>Administrador</option>
                <option value="miembro" {% if usuario.role == 'miembro' %}selected{% endif %}>Miembro</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="habilidades">Habilidades (separadas por comas):</label>
            <input type="text" class="form-control" name="habilidades" id="habilidades" value="{{ ', '.join(usuario.habilidades) }}" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
    <a href="{{ url_for('admin_usuarios') }}" class="btn btn-secondary mt-3">Volver a Administrar Usuarios</a>
</div>
{% endblock %}
