{% extends "base.html" %}

{% block title %}
Seleccionar Proyecto
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-success text-center">Seleccionar Proyecto</h1> <!-- Estilo del título -->
        <form method="POST" class="p-4 border rounded shadow" style="background-color: #fdfdfd98;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info" role="alert">
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="proyecto_id">Seleccionar Proyecto:</label>
                <select id="proyecto_id" name="proyecto_id" class="form-control" required>
                    <option value="">Seleccione un proyecto</option>
                    {% for proyecto in proyectos %}
                        <option value="{{ proyecto._id }}">{{ proyecto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success mt-3">Seleccionar Proyecto</button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}
