body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para la barra superior */
.navbar-custom {
    background-color: #027333;
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Centrar el título en la barra superior */
.navbar-custom h2 {
    margin: 0;
    text-align: center;
    flex: 1 0 100%;
    order: 1;
}

/* Contenedor para los botones en la barra superior */
.navbar-custom .nav-buttons {
    display: flex;
    align-items: center;
    order: 2;
}

/* Estilos para los botones en la barra superior */
.navbar-custom .btn-top {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    background-color: #D9A404;
    border-radius: 3px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.navbar-custom .btn-top:hover {
    background-color: #5c5c5c; /* Cambio de color al pasar el ratón */
}

/* Botón de menú */
#menu-toggle {
    display: none;
    padding: 10px 15px;
    color: white;
    background-color: #D9A404;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    order: 3;
}

#menu-toggle:hover {
    background-color: #5c5c5c; /* Cambio de color al pasar el ratón */
}

/* Estilos para la barra lateral */
.sidebar {
    height: calc(100vh - 70px);
    width: 180px;
    background-color: #84BF04;
    padding-top: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
    z-index: 1000;
}

/* Mejora de enlaces de la barra lateral */
.sidebar a {
    padding: 15px;
    text-align: center;
    display: block;
    color: white;
    margin: 10px 0;
    text-decoration: none;
    background-color: #027333;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #D9A404; /* Cambio de color al pasar el ratón */
}

/* Estilo para el área de contenido */
.content {
    margin-left: 220px;
    padding: 20px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

/* Kanban */
.kanban-table {
    width: 100%;
    border-collapse: collapse;
}

.kanban-column {
    width: 33%;
}

.kanban-list {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 150px;
}

.kanban-taskpi {
    background-color: #F55A4B;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.kanban-taskep {
    background-color: #F29F05;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.kanban-taskc {
    background-color: #C0D904;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .navbar-custom {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-custom h2 {
        margin-bottom: 10px;
    }

    .navbar-custom .nav-buttons {
        justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
    }

    .navbar-custom .btn-top {
        flex: 1;
        margin: 0 5px;
        text-align: center;
    }

    #menu-toggle {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .sidebar {
        width: 100%;
        left: -100%;
        top: 0;
        height: 100%;
        z-index: 1001;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
    }
}

@media (min-width: 769px) {
    .navbar-custom {
        flex-wrap: nowrap;
    }

    .navbar-custom h2 {
        flex: 1 0 auto;
        order: 1;
    }

    .navbar-custom .nav-buttons {
        order: 2;
    }
}
