body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c1ccc4;
}

/* Estilos para la barra superior */
.navbar-custom {
    background-color: #027333;
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Centrar el título en la barra superior */
.navbar-custom h2 {
    margin: 0;
    text-align: center;
    flex: 1 0 100%;
    order: 1;
}

h1 {
    color: #027333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
    font-weight: bold;
}

h2, h3 {
    color: #027333;
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    border: 1px solid #027333;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px #027333; 
    border: 2px solid #027333;
}

select:focus, 
input[type="date"]:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #027333;
}


label {
    color: #027333;
    font-weight: bold;
}

/* Contenedor para los botones en la barra superior */
.navbar-custom .nav-buttons {
    display: flex;
    align-items: center;
    order: 2;
}

/* Estilos para los botones en la barra superior */
.navbar-custom .btn-top {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    background-color: #D9A404;
    border-radius: 3px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.navbar-custom .btn-top:hover {
    background-color: #5c5c5c;
    /* Cambio de color al pasar el ratón */
}

/* Botón de menú */
#menu-toggle {
    display: none;
    padding: 10px 10px;
    color: white;
    background-color: #D9A404;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    order: 3;
    font-size: 10px; 
}

#menu-toggle:hover {
    background-color: #5c5c5c;
    /* Cambio de color al pasar el ratón */
}

/* Estilos para la barra lateral */
.sidebar {
    height: calc(100vh - 70px);
    width: 180px;
    background-color: #84BF04;
    padding-top: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
    z-index: 1000;
}

/* Mejora de enlaces de la barra lateral */
.sidebar a {
    padding: 15px;
    text-align: center;
    display: block;
    color: white;
    margin: 10px 0;
    text-decoration: none;
    background-color: #027333;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #027333
}

/* Asegurar que no haya espacios vacíos innecesarios */
.container {
    padding: 15px;
}

.row {
    margin: 0;
}

.col-md-12 {
    padding: 0;
}


.sidebar a:hover {
    background-color: #D9A404;
    /* Cambio de color al pasar el ratón */
}

/* Estilo para el área de contenido */
.content {
    margin-left: 220px;
    padding: 20px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

/* Colores para las tareas según su estado */
.kanban-task.pi {
    background-color: #f5594b86; /* Rojo para "Por iniciar" */
}

.kanban-task.ep {
    background-color: #d9a40467; /* Amarillo para "En progreso" */
}

.kanban-task.c {
    background-color: #02733356; /* Verde para "Completado" */
}

/* Kanban */
.kanban-table {
    width: 100%;
    border-collapse: collapse;
}

.kanban-column {
    width: 33%;
}

.kanban-list {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 150px;
}

.kanban-taskpi {
    background-color: #F55A4B;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.kanban-taskep {
    background-color: #F29F05;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.kanban-taskc {
    background-color: #C0D904;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.text-success {
    color: #055e2b;
    /* Verde para los títulos */
}

.bg-warning {
    background-color: #f9f9f9 !important;
    /* Fondo amarillo para la tarjeta */
    border: none;
}

/* Cambiar el color de fondo de los contenedores bg-success */
.bg-success {
    background-color: #027333 !important; /* Cambiar a un verde más suave */
}

.table th {
    background-color: #027333; /* Color de fondo para los encabezados */
    color: white; /* Color del texto para los encabezados */
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Espaciado dentro de las celdas de encabezado */
    border: 1px solid #027333; /* Borde de las celdas de encabezado */
    word-break: break-word; /* Permitir el ajuste de línea para texto largo */
}

.table td {
    background-color: #fdfdfd98; /* Color de fondo para el contenido */
    color: black; /* Color del texto para el contenido */
    padding: 10px; /* Espaciado dentro de las celdas */
    text-align: center; /* Centrar el texto */
    border: 1px solid #027333; /* Borde de las celdas */
    word-break: break-word; /* Permitir el ajuste de línea para texto largo */
}


.text-dark {
    color: #343a40 !important;
    /* Texto oscuro */
}

.btn-success {
    background-color: #027333;
    /* Verde para los botones */
    border-color: #027333;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #D9A404;
    /* Cambia a amarillo en hover */
    border-color: #D9A404;
}

.list-group-item {
    background-color: #ffc10734;
    /* Fondo amarillo para los proyectos */
    color: #343a40;
    /* Texto oscuro */
    border: none;
}

.list-group-item:hover {
    background-color: #FFD54F;
    /* Un amarillo más claro al pasar el ratón */
    color: #343a40;
}


.action-buttons .btn {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    min-width: 60px;
}


@media (max-width: 900px) {
    .navbar-custom {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-custom h2 {
        margin-bottom: 10px;
    }

    .navbar-custom .nav-buttons {
        justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
    }

    .navbar-custom .btn-top {
        flex: 1;
        margin: 0 5px;
        text-align: center;
    }

    #menu-toggle {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .sidebar {
        width: 100%;
        left: -100%;
        top: 0;
        height: 100%;
        z-index: 1001;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
    }

    .action-buttons {
        flex-direction: column;
        justify-content: flex-start;
        min-width: 60px;
    }

    .action-buttons .btn {
        width: 100%;
        margin-bottom: 5px;
    }

    .d-none {
        display: none;
    }

    .navbar-custom .btn-top, 
    .action-buttons .btn {
        font-size: 10px;
    }

    .table th, .table td {
        font-size: 12px;
    }
}

@media (min-width: 900px) {
    .navbar-custom {
        flex-wrap: nowrap;
    }

    .navbar-custom h2 {
        flex: 1 0 auto;
        order: 1;
    }

    .navbar-custom .nav-buttons {
        order: 2;
    }

    .action-buttons {
        flex-direction: row;
        justify-content: flex-start;
    }

    .action-buttons .btn {
        width: auto;
    }

    .table {
        width: 100%;
    }

    .navbar-custom .btn-top, 
    .action-buttons .btn {
        font-size: 14px;
    }

    table {
        table-layout: fixed;
        width: 100%;
        word-wrap: break-word;
    }

    .table td,
    .table th {
        text-align: center;
        font-size: 16px;
    }
}

td.centered {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}