{% extends "base.html" %}

{% block title %}
Registro
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        
        <div class="p-4 border rounded shadow" style="background-color: #fdfdfd98;"> <!-- Contenedor amarillo -->
            <h2 class="text-success text-center">Registro</h2> <!-- Estilo del título -->
            <form method="POST" action="{{ url_for('registro') }}">
                <div class="form-group">
                    <label for="nombre">Nombre Completo:</label>
                    <input type="text" name="nombre" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="email" name="correo" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="role">Rol:</label>
                    <select name="role" class="form-control" required>
                        <option value="admin">Administrador</option>
                        <option value="miembro">Miembro</option>
                    </select>
                </div>
                <div class="text-center"> <!-- Centro el botón -->
                    <button type="submit" class="btn btn-success">Registrar</button> <!-- Botón verde -->
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
