{% extends "base.html" %}

{% block title %}
Registro
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Registro</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info" role="alert">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="correo">Correo:</label>
                <input type="email" name="correo" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="role">Rol:</label>
                <select name="role" class="form-control" required>
                    <option value="admin">Administrador</option>
                    <option value="miembro">Miembro</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cargo">Cargo:</label>
                <input type="text" name="cargo" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="habilidades">Habilidades (separadas por comas):</label>
                <input type="text" name="habilidades" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
        <!-- <a href="{{ url_for('login') }}">Iniciar sesión</a> -->
    </div>
</div>
{% endblock %}
